@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');




*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #004C89 0%, rgba(0, 76, 137, 0.78) 40.5%);
    scroll-behavior: smooth;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #f3f3f3;
    min-width: 330px;
}
header{
    padding: 10px 50px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.cont {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.S_links_one{
    display: flex;
}
.S_links_two{
    display: none;
}
a{
    text-decoration: none;
    color: #f3f3f3;
    font-size: 16px;
    transition: all 300ms;
}
a:hover{
    color: #9c9c9c;
}
svg {
    width: 20px;
    height: 20px;
    padding: 0 1em;
}


/*-----------container on--------*/
.container_one{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.product_text{
    font-size: 15px;
    width: 42%;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
    color: #cccccc;

}
.product_text h1 {
    font-size: 45px;
    font-weight: 900;
    color: #f3f3f3;
}
.product_text p {
    line-height: 250%;
}
.gratuite{
    color: #4dad1a;
}
.br_price{
    display: none;
}
.price{
    color: #f3f3f3;
    text-align: center;
    font-size: 15px;
}
.old_price {
    color: #D63635;
    text-decoration: line-through;
    font-size: 25px;
    
}
.new_price{
    color: #f3f3f3;
    font-size: 40px;
    font-weight: 900;
}
.product_img{
    width: 42%;
    align-items: center;
}
.table_img_two , .shadow_two{
    display: none;
}
.table_img{
    transform: rotate(6deg);

}
.shadow {
    width: 85%; 
    top: -20px;
    left: 5%;
    position: relative;
}
.button{
    width: auto;
    align-self: center;
    background: #D63635;
    padding: 10px 25px;
    height: 100px;
    border: 0;
    border-radius: 5px;
    transition: all 500ms;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.button a{
    color: #f3f3f3;
    font-size: 20px;
}

.button:hover {
    background-color: #4dad1a;
}

/* ------------ container two --------- */
.container_two{
    height: 600px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #004C89;
}
.info{
    font-size: 35px;
    text-align: center;
}
.main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

.sub_container_one{
    display: flex;
    flex-direction: column;
    width: 45%;
    align-items: center;
    justify-content: space-between;
    height: 350px;
}
.sub_container_two{
    display: flex;
    align-items: center;
    width: 45%;
    height: 500px;

}
.info_list{
    line-height: 200%;
}
.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;

}

.mySlides {
    width: 90%;
  display: none;
  justify-content: center;


}
.mySlides img{
    border-radius:20px;
    align-items: center;
    width: 90%;

}

.prev, .next {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 25px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    height: 25px;
    align-self: center;
    border-radius: 5px;
    background-color: #004C89;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ae0000;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.gras {
    font-size: 20px;
    font-weight: 800;
}
footer{
    background-color: #D63635;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media only screen and (max-width: 960px){
    
    header{
        flex-direction: column;
        height: 150px;
        align-items: center;
    }
    .about{
         display: none;
    }
    .S_links_one{
        display: none;
    }
    .S_links_two{
        display: flex;
    }


    /* --------- container one -------*/
    .container_one{
        height: 850px;
        flex-direction: column;
    }
    .product_text{
        width: 80%;
        align-items: center;
        text-align: center;
    }
    .product_text h1 {
        font-size: 35px;
        font-weight: 900;
    }
    .table_img_two {
        rotate: 6deg;
    }
    .shadow_two{
        width: 80%;
    }
    .table_img_two , .shadow_two{
        display: block;
    }
    .product_img{
        display: none;
    }
    .info_livraison{
        text-align: left;
    }
    .br_price{
        display: block;
    }



    /* ------- container two ------- */
    .container_two{
        height: 900px;
        justify-content: space-between;
    }
    .info{
        font-size: 25px;
    }
    .main_container{
        flex-direction: column;
        height: 870px;
        justify-content: space-around;
    }
    .info_list{
        font-size: 16px;
    }
    .sub_container_one{
        width: 80%;
        height: 350px;
        justify-content: space-around;
    }
    .sub_container_two{
        width: 80%;
        line-height: 300%;
        height: auto;
    
    }
    .mySlides img{
        height: 80%;
    }
    footer{
        font-size: 13px;
    }
    
}
@media only screen and (max-width: 400px){
    .sub_container_one{
        width: 80%;
        height: 220px;
        justify-content: space-around;
    }
}